@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap');
*{
font-family: "Elms Sans", sans-serif;
padding: 0;
margin:0;
box-sizing: border-box
    }
body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-around;
            place-items: center;
            align-items: center; /* Center both horizontally and vertically */
            height: 100vh; /* Full height of the viewport */
            margin: 10px; /* Remove default margin */
            /* Radial gradient */
            background: radial-gradient(circle, #f46947, #f2bd94);
            height: 100vh; /* Full height of the viewport */
            margin: 0; /* Remove default margin */
        }
  .subtitle {
    text-align: center;
    font-size: 20px;
    margin: 8px 0px 8px 0px
  }     
.card--1,
.card--2,
.card--3,
.card--4 {
  max-width: 700px;
  margin: 0 auto 24px;
  padding: 24px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  color: rgb(91, 60, 21);
}
        .content {
            text-align: center; /* Center text inside the content */
        }
  @keyframes fadeIn {
            from {
                opacity: 0; /* Start fully transparent */
            }
            to {
                opacity: 1; /* End fully opaque */
            }
        }

        /* Step 2: Apply the animation to the h1 */
        h1 {
            animation: fadeIn 2s ease-in; /* 2 seconds duration, ease-in timing */
        }
.h1 {
    font-size:50px;
    color: rgb(91, 60, 21) 
}
.ul {
    font-size:30px;
    color: rgb(91, 60, 21)

}

.card--1 {
  justify-content: center;
    width: 500px;
  border-radius: 10px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  background: #bedbe0;
  padding:10px;
  text-align: center;
}

.card--1 img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.card--2 {
    justify-content: center;
    width: 700px;
    border-radius: 10px;
    background: pink;
    color: rgb(91, 60, 21);


}
.card--3{
    justify-content: center;
    text-align: center;
    width: 350px;
    border-radius: 10px;
    background: rgb(165, 222, 159);
    color: rgb(91, 60, 21);

}
.iframe{
    border-radius: 10px;
    margin: 0 0 0 0;
    
}

.card--4{
 justify-content: center;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    padding: 8px 0 8px 0;
    background: rgb(239, 246, 195);
    color: rgb(91, 60, 21);   
}
.button{
    margin-top: 8px;
    padding-top: 8px;
    padding: 8px;
    border-radius: 10px;
 background-color: rgb(91, 60, 21);   
    cursor: pointer;
    border: none;
    color: white
}

@media (max width: 728px;)
{justify-content: center;
align-content: center;}
.h1 {
    text-align: center;
}
